.accordion {
  details p {
    border-left: 0.2rem solid $color-grey;
    border-right: 0.2rem solid $color-grey;
    border-bottom: 0.2rem solid $color-grey;
    padding: 2rem;
    text-wrap: wrap;
  }

  details[open] summary {
    background-color: $color-shadow-light;
  }

  details[open] summary:before {
    content: '\2191';
  }

  details + details {
    margin-top: 0.5rem;
  }

  summary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    list-style: none;
    border: 0.2rem solid $color-grey;
    padding: 2rem 2rem;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: $color-shadow-light;
    }

    &::before {
      content: '\2193';
      font-size: 2.5rem;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-weight: 900;
      width: 3rem;
      height: 3rem;
      background-color: $color-primary--light;
      color: $color-secondary--light;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }
  }
}
