*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond(tablet) {
    font-size: 50%;
  }

  @include respond(big-phone) {
    font-size: 40%;
  }

  @include respond(phone) {
    font-size: 30%;
  }

  @include respond(mini-phone) {
    font-size: 25%;
  }
}
