.margin-left-sm {
  margin-left: $margin-sm !important;
}

.margin-right-sm {
  margin-right: $margin-sm !important;
}

.margin-bottom-sm {
  margin-bottom: $margin-sm !important;
}

.margin-top-sm {
  margin-top: $margin-sm !important;
}
